#term-translations table {
	width: 97%;
}

#term-translations th {
  padding: 8px 10px;
}

#term-translations td {
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 9px;
  padding: 4px 10px;
}

.tr-language-column {
	width: 35%;
}

.tr-edit-column {
	width: 15%;
}

#post-translations table {
	width: 100%;
	text-align: left;
	font-size: 11px;
	margin: 0 6px;
}

#post-translations td {
	font-size: 11px;
}

.stringstranslations .column-name {
	width: 10%;
}

.stringstranslations .column-string {
	width: 36%;
}

.translation label {
	display: inline-block;
	width: 23%;
}

.translation input {
	width: 72%;
}

.column-term_group, .column-flag, .column-count {
	width : 10%;
} 
