/* languages admin panel */
.column-term_group, .column-flag, .column-count {
	width : 10%;
}

.form-field input.tog {
	width: auto;
	margin-right: 2px;
}

/* about Polylang metabox */
#pll_about_box p {
	text-align: justify;
}

#pll_about_box input {
	margin: 0;
	padding: 0;
	float: right;
}

/* strings translation table */
.stringstranslations .column-name {
	width: 10%;
}

.stringstranslations .column-string {
	width: 36%;
}

.translation label {
	display: inline-block;
	width: 23%;
}

.translation input {
	width: 72%;
}

/* language columns in edit.php and edit-tags.php */ 
th[class*='column-language_'] {
	width: 2em;
}

.pll_icon_edit, .pll_icon_add, .pll_icon_tick {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("icons.png");
}

.pll_icon_edit {background-position: 0px -24px;}
.pll_icon_add {background-position: -16px -24px;}
.pll_icon_tick {background-position: -32px -24px;}

.pll_icon_edit:hover {background-position: 0px -40px;}
.pll_icon_add:hover {background-position: -16px -40px;}
.pll_icon_tick:hover {background-position: -32px -40px;}

/* languages metabox in post.php */
#post-translations table {
	width: 100%;
	text-align: left;
	font-size: 11px;
	margin: 0 6px;
}

#post-translations td {
	font-size: 11px;
}

/* language and translations in edit-tags.php */
#term-translations table {
	width: 97%;
}

#term-translations th {
  padding: 8px 10px;
}

#term-translations td {
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 9px;
  padding: 4px 10px;
}

.tr-language-column {
	width: 35%;
}

div#term-translations select[id*='tr_lang_'] {
	width: 95%;
}

tr#term-translations select[id*='tr_lang_'] {
	width: 65%;
}


.tr-edit-column {
	width: 15%;
}
